# big files
data/*.hdf5
data/*.json
data/SELFIES_FILES/
data/SMILES_BASED/
data/SMI_files/
data/evaluation_images/
data/tmp/
data/training_images/
data/uspto-validation-updated/
data/validation_images/

__pycache__
cache/*
models/*
# Prerequisites
*.d
.vscode
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
