# pip install -r requirements.txt

# base ----------------------------------------


# ML ----------------------------------------
rdkit
deepchem==2.3.0
tensorflow-gpu==1.14
torch
torchvision
# logging -------------------------------------
wandb

# plotting ------------------------------------

# export --------------------------------------

# extras --------------------------------------
